/* Colors Hex: C5283D(red), E9724C(organge), FFC857(yellow), FAFAFF(white-ish) */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 83%;
  height: 60px;
  line-height: 60px;
  text-align: right;
  font-size: 0.8em;
  opacity: 0.6;
}

body {
  margin-bottom: 60px;
  font-family: Open Sans;
  font-size: 1.8em;
}

.technical-text {
  font-family: Source Code Pro;
}

.launch, .launch:hover, .launch:focus {
  font-size: 1em;
  background-color: #5cb85c !important;
  border-color: #CCC;
  color: #FFFAFA !important;
  text-transform: none !important;
  margin-top: 10px;
}

.features {
  list-style-image: url("images/rebulas-bullet.png");
}

.features > li {
  padding-top: 10px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 45px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
